assets
bootloader
bootloader-prefix
build
config
CMakeFiles
doc
esp-idf

app-flash_args
bootloader-flash_args
cmake_install.cmake
CMakeCache.txt
compile_commands.json
config.env
flash_app_args
flash_args
flash_args.in
flash_bootloader_args
flash_project_args
flasher_args.json
kconfigs_projbuild.in
kconfigs.in
ldgen_libraries.in
ldgen_libraries
Makefile
partition-table-flash_args
project_description.json
sdkconfig
sdkconfig.old


*.pyc
__pycache__
.DS_Store
**/.DS_Store
main/component.mk
.vscode
TODO.md
components/pngle/include
